#navi{
    letter-spacing: 3px;
}
a, a:hover,a:visited, small, li a{
    color: #000000;
}

#busqueda{
    width: 380px;
    background-color:#ffffff;
}
.btn-lectoclub{
    color: #0f4184;
    background-color: #ffffff;

}
.btn-lectoclub:hover{
    color:antiquewhite;
    background-color: #0f4184;
}
.rowClassy{
    background-color: #e43f29;
}
ul li {     
    list-style: none;
    /*padding: 2px;*/
 } 
#indexText{
    padding: 200px 10px 200px 10px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
}

#libros{
vertical-align: middle;
border-style: none;
width: 400px;
padding: 100px 0px 100px 0px;
margin-left: 150px;
}

.redes{
    color: #000000;
    font-size: 50px;
    margin: 50px 20px 50px 20px;
}

#starMedia{
    padding: 50px 2px 50px 20px;
}
